* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

h1{
    text-align: center;
    color:darkturquoise;
    text-shadow: darkturquoise;
    font-weight: bold;
}
h4{
    color: lightslategrey;
}
.product{
    display: flex;
}
.cart-container{
    vertical-align: center;
    margin-top: 20px;
    margin-left: 10px;
}
img{
    width:50px;
    height:90px;
    display: block;

}
.amount-btn{
    width: 1.5rem;
    background: transparent;
    border: none;
    cursor: pointer;
}
.remove-btn{
    width:90px;
    height:30px;
    margin-left: 20px;
}
hr{
    width:100%;
    margin-top: 5px;

}

button.add {
    background-color: #40c0f0;
    width: 1.5rem;
  }
  button.remove {
    background-color: #f04040;
    width: 1.5rem;
  }
  button.badge {
    background-color: #f04040;
    border: none;
    color: #ffffff;
    width: 1.5rem;
  }
  
  @media screen and (max-width: 576px) {
      h1{
          text-align: center;
      }
      .emptycart{
          text-align: center;
      }
      
  } 
